.note {
  padding: 25px;
  height: 500px;
  line-height: 2em;
  display: flex;
  flex-direction: column;
  background-color: #8e8ed535;
  border-radius: 30px;
  transition: 0.3s;
}
.note:hover {
  background-color: #6e5ed8;
  color: white;
  transform: scale(1.02);
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-icon {
  cursor: pointer;
}
