.notes-list {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.note-container h2 {
  display: flex;
  font-size: 2em;
  font-weight: lighter;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.note.new {
  background-color: #28282847;
  color: aliceblue;
}
.note.new:hover {
  background-color: #5d5d5d2a;
  box-shadow: #000000;
}
textarea {
  border: none;
  resize: none;
  background-color: transparent;
}
textarea:focus {
  outline: none;
}
.save {
  background-color: rgba(0, 0, 0, 0.323);
  border: none;
  border-radius: 100%;
  height: 60px;
  width: 60px;
  transition: 0.3s;
  /* padding: 20px 20px 20px 20px; */
}
.save:hover {
  background-color: #6e5ed8;
  cursor: pointer;
}
