* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e6e6fa;
  color: #000000;
}
.mega-container {
  display: flex;
}
.container {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #ffffff4e;
  border-radius: 20px;
  margin: 1em;
}
.note,
.new {
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}
.search {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  margin-bottom: 1.5em;
  transition: 0.3s;
}
.search:hover {
  background-color: #2e294e55;
  transform: scale(1.02);
}

.search input {
  width: 100%;
  border: none;
  background-color: transparent;
}
.search input:focus {
  outline: none;
}
.header {
  padding: 2em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header h1 {
  font-family: Arial, Helvetica, sans-serif;
}
.header button {
  height: 60px;
  width: 60px;
  border: none;
  background-color: #ffffff4e;
  border-radius: 1000px;
  margin: 20px;
  transition: 0.3s;
}
.header button:hover {
  background-color: #2e294e55;
  rotate: 70deg;
  transform: scale(1.1);
}
.sidebar {
  width: 200px;
  height: 100%;
  background-color: transparent;
  padding: 1em;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.sidebar-image {
  max-width: 100%;
  height: auto;
  border-radius: 1000px;
  border: 5px solid white;
  background: none;
}
.sidebar button {
  height: 60px;
  width: 60px;
  border: none;
  background-color: #ffffff4e;
  border-radius: 1000px;
  margin: 20px;
  transition: 0.3s;
}
.sidebar button:hover {
  background-color: #2e294e55;
  transform: scale(1.1);
}
.dark-mode {
  background-color: #201c36;
  color: white;
  transition: 0.6s;
}
.dark-mode .container {
  background-color: #00000030;
}
.dark-mode .search {
  background-color: #00000040;
  color: white;
}
.dark-mode .search:hover {
  background-color: rgba(255, 255, 255, 0.597);
  color: black;
}
.dark-mode .link {
  background-color: rgba(255, 255, 255, 0.597);
}
.dark-mode .link:hover {
  background-color: #00000054;
  color: white;
}
